@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');

body{
  background-color: #434343;
    background-image:linear-gradient(#434343, #282828);
    height: 100%;   
}
#container{
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height:100%;
    background-size:50px 50px;   
}

h1, h2, li {
  font-family: Orbitron;  
  text-transform: uppercase;
  color: #00e6e6;
  margin-bottom: 10px;
}
h3{font-family: Orbitron;  
  text-transform: uppercase;
  color: #66ffff;
}

p {
  font-family: Orbitron;
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 0;
  color: #66ffff;
}

ul,ol{
  list-style:none;
  padding-left: 0;
  padding-top: 2em;
  color: #66ffff; 
}

li {
  margin-bottom: 20px;
  font-weight: bold;
}

/* Links */

a:link, a:visited {
  color: white;
  border: 1px solid hsl(180, 50%, 30%); 
  text-decoration: none;
  padding: 10px 10px;
}

a:focus, a:hover {
  background-color: #001a1a;
  color: white;
}

a:active {
  color: black;
}

canvas { 
  background-color:#000d1a;
  height: 100%;
  width: 100%;
  z-index: -200;
  margin-top: 0;
  margin-left: 0;
}

button {
    margin-top: 30px;
    color: black;
    border: 5px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family:Orbitron; 
    box-shadow: 0 9px #999;
    opacity: 70%;
    border-radius: 15px;
}
button#fast{
  background-color: #ff3333;
}
button#fast:hover{
  background-color: #ff4d4d;
}
button#fast:active {
  background-color: #cc0000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
button#medium{
  background-color: #00ffff;
}
button#medium:hover{
  background-color: #b3ffff;
}
button#medium:active {
  background-color: #00b3b3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
button#slow{
  background-color: #00e68a;
}
button#slow:hover{
  background-color: #66ffc2 ;
}
button#slow:active {
  background-color: #00cc7a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

svg#window {
  fill:radial-gradient(black, darkgrey, #cccccc);;
  stroke:#0080ff;
  text-shadow: 0 8px 16px #1a8cff, 0 6px 20px 0 #99ccff;  
  z-index: 100;
  width:100%;
  height:98%;
  position: absolute;
  opacity: 0.8;
}